<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Locations</title>
</head>
<body>
    <% for( let index = 0; index < locations.length; index++ ) { %>
        <% let a = locations[index] %> 
        <% a = a.toJSON() %>
        <p> <%= a.name %></p>
        <a href="/locations/s/<%= a.id %>">View Location </a><br>
        <a href="/locations/edit/<%= a.id %>"> Edit</a>
        <form method="POST" action="/locations/<%= a.id %>/?_method=DELETE">
            <input type="submit" value="Delete Location">
        </form>
        <hr>
    <% } %>
    <a href="/locations/new/<%= campaignId %>"> New Location</a>
</body>
</html>