<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Villain</title>
</head>
<body>
        <a href="/villains">View All Villains </a>
        <% let p = villain %> 
        <h1> <%= p.name %></h1>
        <p> Their goal is to <%= p.goal %>. Their plan is to <%= p.plan %>. Their Description: <%= p.description %></p>
        <a href="/villains/edit/<%= p.id %>">Edit</a>

        <form method="POST" action="/villains/<%= p.id %>/?_method=DELETE">
            <input type="submit" value="Delete Villain">
        </form>
</body>
</html>