<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Story</title>
</head>
<body>
    <form method="POST" action="/stories/<%= story.id %>/?_method=PUT">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= story.name %> ">

        <label for="location">Location</label>
        <input type="text" name="location" value="<%= story.location %> ">

        <label for="timeFrame">Time Frame</label>
        <input type="text" name="timeFrame" value="<%= story.timeFrame %> ">

        <label for="storyBeats">Story Beats</label>
        <input type="text" name="storyBeats" value="<%= story.storyBeats %> ">
      
        <input type="submit">
    </form>
</body>
</html>