<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Character</title>
</head>
<body>
    <form method="POST" action="/characters/<%= character.id %>/?_method=PUT">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= character.name %> ">

        <label for="class">Class</label>
        <input type="text" name="class" value="<%= character.class %> ">

        <label for="race">Race</label>
        <input type="text" name="race" value="<%= character.race %> ">

        <label for="backstory">Backstory</label>
        <input type="text" name="backstory" value="<%= character.backstory %> ">
      
        <input type="submit">
    </form>
</body>
</html>