<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Major Factions</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../ghost-blog.css">
</head>
<body>
    <section class="hero is-medium">
        <div class="hero-body">
          <div class="container has-text-centered">
            <img src="https://cdn.emk.dev/templates/bulma-logo-light.png" width="150" height="40">
            <h1 class="subtitle">
              Major Factions
            </h1>
          </div>
        </div>
        <a href="/campaigns/<%= campaignId %>">View Campaign </a>
      </section>
      <section class="blog-posts">
        <div class="container">
          <div class="columns">
            <div class="column is-10 is-offset-1">
              <div class="columns is-multiline">
                <% for( let index = 0; index < majorFactions.length; index++ ) { %>
                    <% let a = majorFactions[index] %> 
                    <% a = a.toJSON() %>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://i.imgur.com/c4K7Top.jpg" alt="Featured Image" width = "255">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h1 class="title post-title"><%= a.name %></h1>
                                <a href="/majorFactions/edit/<%= a.id %>" class="button is-primary">Edit Faction</a>
                                <br>
                                <a href="/majorFactions/s/<%= a.id %>" class="button is-primary">View</a>
                            </div>
                        </article>
                    </div>
                <% } %>
                <div class="column post is-6">
                    <article class="columns is-multiline">
                        <div class="column is-12 post-img">
                            <img src="https://i.imgur.com/c4K7Top.jpg" alt="Featured Image" width="255">
                        </div>
                        <div class="column is-12 featured-content ">
                            <h1 class="title post-title">New Major Faction</h1>
                            <a href="/majorFactions/new/<%= campaignId %>" class="button is-primary">Create</a>
                        </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </section>
</body>

<style>
  html {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
  }
  
  a {
    color: #3b7adf;
  }
  
  a:hover {
    text-decoration: underline;
    color: #3b7adf;
  }
  
  hr {
    background: #24272c;
  }
  
  .hero {
    background: #060606;
  }
  
  .title,
  .subtitle {
    color: white;
  }
  
  .navbar .navbar-item {
    color: #e4e2ff;
  }
  
  .navbar .navbar-item.is-active {
    color: #e4e2ff;
    font-weight: 700;
  }
  
  .navbar .navbar-item:hover {
    background: transparent;
    color: white;
  }
  
  .navbar .navbar-item a {
    margin-left: 1rem;
    color: #e4e2ff;
  }
  
  .blog-posts {
    min-height: 100vh;
    background-color: #191b1f;
    padding-top: 4rem;
    padding-bottom: 10rem;
  }
  
  .blog-posts article {
    padding: 1.5rem;
  }
  
  .blog-posts .post img {
    border-radius: 6px;
  }
  
  .blog-posts .post .post-category {
    color: #3b7adf;
  }
  
  .blog-posts .post .post-title {
    font-size: 2.2rem;
  }
  
  .blog-posts .post .post-excerpt {
    line-height: 1.5rem;
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-family: 'IBM Plex Serif', serif;
    color: #92a3ab;
  }
  
  .blog-posts .post .featured .featured-image img {
    height: 380px;
  }
  
  </style>
</html>