<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Major Faction</title>
</head>
<body>
        <a href="/majorFactions">View All Major Factions </a>
        <% let p = majorFaction %> 
        <h1> <%= p.name %></h1>
        <p> The leader of <%= p.name %> is <%= p.leader %>. The faction's size is <%= p.size %>. They are located at <%= p.location %>. Their general agenda is to <%= p.agenda %>.</p>
        <a href="/majorFactions/edit/<%= p.id %>">Edit</a>

        <form method="POST" action="/majorFactions/<%= p.id %>/?_method=DELETE">
            <input type="submit" value="Delete Major Faction">
        </form>
</body>
</html>